.sticky-view-container{
    position: relative;
}

.sticky-view{
    background: var(--white-background);
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
}
